.element {
  background: white;
  border: 0.5rem solid black;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 10rem;
  margin: 0 auto;
  width: 10rem;
}

.element__number {
  font-weight: bold;
  margin: 0.5rem;
  text-align: right;
}

.element__symbol {
  font-size: 3rem;
  font-weight: bold;
}

.element__name {
  margin: 0.25rem 0;
}

.element__category {
  display: none;
}