.search-box {
  background: #61DAFB;
  margin: 2rem 0;
  padding: 2rem 0;
}

.search-box>input {
  background: none;
  border: 0;
  border-bottom: 0.2rem solid black;
  color: #333;
  font-size: 1.5rem;
  outline: none;
  text-align: center;
  width: 20rem;
}

/* NOTE: do not group these rules */
.search-box>input::-webkit-input-placeholder {
    color: #ddd;
}

.search-box>input:-moz-placeholder {
    /* FF 4-18 */
    color: #ddd;
}

.search-box>input::-moz-placeholder {
    /* FF 19+ */
    color: #ddd;
}

.search-box>input:-ms-input-placeholder {
    /* IE 10+ */
    color: #ddd;
}