.app {
  text-align: center;
}

.app-logo {
  animation: app-logo-spin infinite 10s linear;
  height: 80px;
  margin-top: 50px;
}

.app .title {
  margin: 0 auto;
}

.app .subtitle {
  color: #aaa;
  font-size: 0.9rem;
}

@keyframes app-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
